{% extends 'base.html.twig' %}

{% block title %}Hello HelloWorldController!{% endblock %}

{% block body %}

<div class="example-wrapper">

    <h1>Hello {{ controller_name|custom_capitalize }}!</h1>

    {% set textFirstCapitalized = "Ma première lettre est en majuscule" %}
    <p>{{ textFirstCapitalized|custom_capitalize }}</p>

    {% set textFirstNotCapitalized = "Ma première lettre est en minuscule" %}
    <p>{{ textFirstNotCapitalized|custom_capitalize(false) }}</p>

    {{ dump(pokemonList) }}

    <h2>Liste des Pokémon</h2>
    <ul class="list-group">
    {% for pokemon in pokemonList %}
        <li class="list-group-item">
            <span class="badge text-bg-primary rounded-pill">#{{ pokemon.number|fill_number('0', 3) }}</span>
            {{ pokemon.name }}
        </li>
    {% endfor %}
    </ul>

    <twig:BootstrapButton class="my-2"
        text="Bootstrap est disponible!"
        type="success" link="#" />

    <twig:BootstrapButton 
        text="Hello World!"
        type="warning" link="#" outlined />

    <div class="row mt-2">
        <div class="col-3"> 
            <twig:BootstrapCard
                title="Mon image #1"
                img="https://picsum.photos/200"
                link="/images/1"
                label="Cliquez ici"
            >
                <p>Ceci est le texte de mon contenu</p>
                <p>En format <strong>HTML</strong></p>

            </twig:BootstrapCard>
        </div>
    </div>
    
</div>
{% endblock %}
