{% extends 'base.html.twig' %}

{% block title %}Liste des Pokémons{% endblock %}

{% block stylesheets %}
{{ knp_pagination_rel_links(pagination) }}
{% endblock %}

{% block body %}

    <form method="GET">
        <div class="input-group mb-3">
            <input type="text" class="form-control" 
                placeholder="Rechercher par nom..." aria-label="Rechercher par nom..." 
                name="search_name" id="search_name" value="{{ searchName }}">

            <button class="btn btn-outline-secondary" type="button" id="button-addon1"><i class="bi bi-search"></i></button>
        </div>
    </form>

    <div class="count mb-2">
        {{ pagination.getTotalItemCount }} Pokémon(s) trouvés !
    </div>
    
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <div class="row mt-2 g-2">
    {% for pokemon in pagination %}

        <twig:BootstrapCard 
            class="col-2"
            title="{{ pokemon.name }}"
            img="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{ pokemon.number }}.png"
        >
        
            <span class="badge text-bg-info rounded-pill">#{{ pokemon.number|fill_number('0', 3) }}</span>

            {% for type in pokemon.types %}

            <span class="badge rounded-pill"
                    style="background-color: {{ type.color }}; color: {{ type.textColor }};">
                {{ type.name }}
            </span>
            {% endfor %}

            <div class="mt-2">

                <twig:BootstrapButton class="d-inline-block"
                    text="Détails"
                    type="info" link="{{ path('app_pokemon_show', { id: pokemon.id }) }}" />

                {# Si droit d'édition, on affiche le bouton #}
                {% if is_granted('POKEMON_EDIT', pokemon) %}
                <twig:BootstrapButton class="d-inline-block"
                    text="Modifier"
                    type="warning" link="{{ path('app_pokemon_update', { id: pokemon.id }) }}" />
                {% endif %}
                
                {% if is_granted('POKEMON_DELETE', pokemon) %}
                <form action="{{ path('app_pokemon_delete', { id: pokemon.id }) }}" 
                    method="POST" onsubmit="return confirm('Êtes-vous sûr?');">
                
                    <input type="hidden" name="_csrf_token" data-controller="csrf-protection" 
                        value="{{ csrf_token('delete-pokemon') }}">

                    <button class="btn btn-danger" type="submit">Supprimer</button>
                </form>
                {% endif %}
                
            </div>

        </twig:BootstrapCard>

    {% endfor %}
    </div>

{% endblock %}
