{% extends 'base.html.twig' %}

{% block title %}Détails d'un Pokémon{% endblock %}

{% block body %}

<div class="row justify-content-center">

    <div class="col-12 col-md-6 col-lg-5">

        <twig:BootstrapCard 
            title="{{ pokemon.name }}"
            img="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{ pokemon.number }}.png"
        >
        
            <span class="badge text-bg-info rounded-pill">#{{ pokemon.number|fill_number('0', 3) }}</span>
            <span class="badge text-bg-primary rounded-pill">{# pokemon.type #}</span>

        </twig:BootstrapCard>

    </div>

    <div class="row gap-2 mt-5">

        {% for picture in pokemon.pictures %}
        
            <div class="card col-2">
                <img src="{{ asset('uploads/pictures/' ~ picture.filename) | imagine_filter('my_thumb') }}" class="card-img-top" alt="">
                <div class="card-body">
                    <figure>
                        <blockquote class="blockquote">
                            <p>{% if picture.pokemon %}{{ picture.pokemon.name }}{% else %}(Pas de pokémon associé){% endif %}</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            {# Récupérer l'initial du nom : lastname|slice(0, 1) ou lastname|first #}
                            Prise par {{ picture.takenBy.firstname }} {{ picture.takenBy.lastname|first|upper }}.,
                            <cite title="Source Title">le {{ picture.createdAt|date('d/m/Y') }}</cite>
                        </figcaption>
                    </figure>

                    <twig:BootstrapButton class="d-inline-block"
                        text="Modifier"
                        type="warning" link="{{ path('app_picture_update', { id: picture.id }) }}" />
                </div>
            </div>

        {% endfor %}

        <div class="col-2">
            <twig:BootstrapButton class="d-inline-block"
                text="Ajouter une nouvelle photo"
                type="danger" link="{{ path('app_picture_create_pokemon', { id: pokemon.id }) }}" />
        </div>
    </div>

</div>

{% endblock %}