<div{{ attributes }}>
    <div class="card">
        <img src="{{ this.img }}" class="card-img-top" alt="Image">
        <div class="card-body">
            <h5 class="card-title">{{ this.title }}</h5>

            {% block content %}{% endblock %}

            <div class="mt-3">
            {% for btn in this.actions %}
                <twig:BootstrapButton class="d-inline-block"
                    text="{{ btn.label }}"
                    :type="btn.type" link="{{ btn.link }}" />
            {% endfor %}
            </div>
        </div>
    </div>
</div>
