{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<h1>Gestion des utilisateurs</h1>

<twig:BootstrapButton type="primary" link="{{ path('app_user_create') }}" text="Créer un utilisateur" />

<table class="table table-striped mt-5">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Adresse e-mail</th>
            <th scope="col">Rôles</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in userList %}
        <tr>
            <th scope="row">{{ user.id }}</th>
            <th>{{ user.lastname }}</th>
            <th>{{ user.firstname }}</th>
            <th>{{ user.email }}</th>
            <th>
                {% for role in user.roles %}
                    <span class="badge text-bg-info rounded-pill">{{ role }}</span>
                {% endfor %}
            </th>
            <th>
                <twig:BootstrapButton type="warning" link="{{ path('app_user_update', { id: user.id }) }}" text="Modifier" />
                <twig:BootstrapButton type="primary" link="{{ path('app_user_roles', { id: user.id }) }}" text="Affecter des rôles" />
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
